{% extends 'base.html.twig' %}

{% block title %}Mon compte - Galerie Rodeo{% endblock %}

{% block content %}
<h1>Mon compte </h1>
Bienvenus Dans vote compte  {{ app.user.firstname }} !
<br>
 C'est dan cette page que vous allez pouvoir gérer toutes vos infomations personnelle
 <br>
 - Modifier mon mot de passe 
 - Ajouter mes adresses
 - mes commandes
{% endblock %}