{% extends 'base.html.twig' %}

{% block title %}Mon compte - Galerie Rodeo{% endblock %}

{% block content %}
<h1>{{ app.user.firstname }}</h1>
<p>Votre compte personnel</p>
<a href="{{ path('account_password') }}">Modifier mon mot de passe </a>
 - Ajouter mes adresses
 - mes commandes
{% endblock %}