{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe  - Galerie Rodeo{% endblock %}

{% block content %}
<h1>Modifier mot de passe </h1>
 <hr>
<a href="{{ path('app_account') }}">Retourner a mon compte </a>
<hr>
{{ form(form) }}
<hr>

{% endblock %}