<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<header>
				<div class="header-left">
					<div class="logo">
						<img src="{{ asset('img/logo.png') }}" alt="">
					</div>
					<nav>
						<ul>
							<li>
								<a href="" class="active">Home</a>
							</li>
							<li>
								<a href="">Products</a>
							</li>
							<li>
								<a href="">Pricing</a>
							</li>
						</ul>
						<div class="login-signup">
							<a href="">Login</a>
							or
							<a href="">Signup</a>
						</div>
					</nav>
				</div>
				<div class="header-right">
					<div class="login-signup">
						<a href="">Login</a>
						or
						<a href="">Signup</a>
					</div>
					<div class="hamburger">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</header>
			<footer>
				<div class="footer">
					<ul class="footer-content">
						<li>
							<a href="">
								<i class="fa-brands fa-github fa-2xl"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa-solid fa-envelope fa-2xl"></i>
							</a>
						</li>
						<li>
							<a href="#">


								<i class="fa-solid fa-address-card fa-2xl"></i>
							</a>
						</li>
					</ul>
				</div>
			</footer>
			<script>
				hamburger = document.querySelector(".hamburger");
nav = document.querySelector("nav");
hamburger.onclick = function () {
nav.classList.toggle("active");
}
			</script>
		{% endblock %}
	</body>
</html>
